---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.astro';
import PoetryPreview from '../../components/PoetryPreview.astro';
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export const prerender = true;

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const poetries = (await getCollection('poetry')).sort(sortItemsByDateDesc);
    return paginate(poetries, { pageSize: siteConfig.poetryPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'poetry'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Poetry" description="Explore my poems and thought letters" showHeader={false}>
    <h1 class="mb-12 font-serif text-2xl leading-tight italic sm:mb-16 sm:text-4xl">Poetry</h1>
    {portfolio.map((poetry) => <PoetryPreview poetry={poetry} class="mb-10 sm:mb-12" />)}
    <Pagination page={page} class="my-16 sm:my-24" />
</BaseLayout>
